.logo a {
  font-size: 1.6em !important;
  font-weight: bold;
}

:root {
  --theme: rgb(255, 255, 255);
  --entry: rgb(255, 255, 255);
  --primary: rgb(0, 0, 0);
  --secondary: rgb(100, 100, 100);
  --tertiary: rgb(200, 200, 200);
  --content: rgb(0, 0, 0);
  --code-block-bg: rgb(240, 240, 240);
  --code-bg: rgb(230, 230, 230);
  --border: rgb(200, 200, 200);
}

body {
  background-color: white !important;
}

main {
  background-color: white !important;
}

html {
  background-color: white !important;
}

.logo a {
  font-size: 1.6em !important;
  font-weight: bold;
}

#menu a {
  font-size: 1.1em !important;
}

a.heading-link {
  display: none !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  display: none !important;
}
