{{- define "main" }}
<div class="profile">
  <div class="profile_inner">
    <img draggable="false" src="https://tamanashb.github.io/adapt-lab-website/images/lab_profile.png" alt="Tamanash Bhattacharya" title="Tamanash Bhattacharya" height="180" width="180">
    <h1>Welcome to the Bhattacharya Lab</h1>
    <span>We study adaptive dynamics across pathogen-host interaction networks at WashU.</span>
    <div class="social-icons">
      {{- range .Site.Params.socialIcons }}
      <a href="{{ .url }}" target="_blank" rel="noopener noreferrer me" title="{{ .name }}">
        {{- partial "svg.html" (dict "name" .name) }}
      </a>
      {{- end }}
    </div>
  </div>
</div>

<div style="margin-top: 2rem; margin-bottom: 1rem;">
  <h2>Lab News</h2>
</div>
<div style="margin-bottom: 2rem;">
  {{ .Content }}
</div>
{{- end }}
