{{- define "main" }}
<div class="profile" style="margin: 0.2rem 0; padding: 0;">
  <div class="profile_inner" style="margin: 0; padding: 0.2rem 0;">
    <img draggable="false" src="https://tamanashb.github.io/adapt-lab-website/images/profile_new.png" alt="Tamanash Bhattacharya" title="Tamanash Bhattacharya" height="368" width="676">
    <h1 style="margin: 0.2rem 0;">Welcome to the Bhattacharya Lab</h1>
    <span>We study adaptive dynamics across pathogen-host interaction networks at WashU.</span>
    <div class="social-icons">
      {{- range .Site.Params.socialIcons }}
      <a href="{{ .url }}" target="_blank" rel="noopener noreferrer me" title="{{ .name }}">
        {{- partial "svg.html" (dict "name" .name) }}
      </a>
      {{- end }}
    </div>
  </div>
</div>
<div style="margin-top: 0.6rem; margin-bottom: 0.6rem;">
  <h2>Lab News</h2>
</div>
<div style="margin-bottom: 1rem;">
  {{ .Content }}
</div>
{{- end }}
