{{- define "main" }}
<div class="profile" style="margin: 0.2rem 0; padding: 0;">
  <div class="profile_inner" style="margin: 0; padding: 0.2rem 0;">
   <img draggable="false" src="https://tamanashb.github.io/adapt-lab-website/images/profile.png" alt="Tamanash Bhattacharya" title="Tamanash Bhattacharya" height="519" width="710" style="border-radius: 0; margin: 1rem 0;">
    <h1 style="font-size: 1.5em;">Welcome to the Bhattacharya Lab</h1>
    <span>We study adaptive dynamics across pathogen-host interaction networks at WashU.</span>
    <div class="social-icons">
      {{- range .Site.Params.socialIcons }}
      <a href="{{ .url }}" target="_blank" rel="noopener noreferrer me" title="{{ .name }}">
        {{- partial "svg.html" (dict "name" .name) }}
      </a>
      {{- end }}
    </div>
  </div>
</div>
<div style="margin-top: 1rem; margin-bottom: 0.5rem; padding: 0 3rem;">
  <h2>Lab News</h2>
</div>
<div style="margin-bottom: 2rem; padding: 0 3rem;">
  {{ .Content }}
</div>
{{- end }}
